# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
env/
venv/
ENV/
.venv/

# Environment Variables
.env
.env.*

# VS Code
.vscode/
.history/

# Logs
*.log

# SQLite databases
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# mypy
.mypy_cache/

# OS files
.DS_Store
Thumbs.db
